{% extends 'base.html.twig' %}

{% block title %}Hello you!{% endblock %}

{% block body %}


<h1>My great profil</h1>

<div>
    Email : {{ app.user.email }} 
    <span><a href="{{ 'editProfile' }}">Change</a></span>
    <span><a href="{{ 'deleteProfile' }}">Delete</a></span>
    
</div>


{% endblock %}
